@import '../common/styles/_lib1';

$dark-beigeColor: #908373;
$light-beigeColor: #c7b299;
$mainColor: #555556;
$whiteColor: #fff;
$Raleway: 'Raleway', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Roboto: 'Roboto', sans-serif;

body {
  //background: $whiteColor;
  padding: 0;
  margin: 0;
}
