$white-color: #f9fafc;
$black-color: #000;
$purple-color: #6e45e2;
$turquoise-color: #88D3CE;
$darker-purple: #4f4f6f;
@import '../common/styles/_libs';

body {
  background: #fff;
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}






.menu-on {
  display: none;
}








.main, .plan-select, .cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: url("../../assets/images/pricing_table/main-bg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 600px;
  padding: 45px;
}

.main-overlay {
  background-image: linear-gradient(150deg, $purple-color 0%, $turquoise-color 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.8;
  //left: 0;
  //z-index: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  //border: 2px solid red;
  //padding: 45px;
  //z-index: 2;
  .logo {
    display: flex;
    width: 244px;
    height: 54px;
    //background: url("../../assets/images/pricing_table/pricing-logo.png") no-repeat center;
    //margin: auto;
  }
}

#primary_nav_wrap {
  //display: flex;
  //margin-top: 15px
  //margin: 0 auto;
}

#primary_nav_wrap ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  //justify-content: space-between;
  //position: relative;
  //float: left;
  a {
    display: block;
    padding: 6px 25px;
    color: $white-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    //padding: 0 15px;
    //font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  li {
    position: relative;
    transition: 0.4s;

    //float: left;
    //margin: 0;
    //padding: 0;
    &:hover {
      background: $purple-color;
      //filter: invert(100%);
      //opacity: .5;
      //transition-timing-function: ease-in-out;
    }
  }
  ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    //background: #333;
    //  filter: (Opacity=90);
    //filter: blur(.5px); /*kek*/
    li {
      float: none;
      width: 170px;
      //background: #333;
    }
    a {
      line-height: 120%;
      padding: 10px 15px;
    }
    ul {
      top: 0;
      left: 100%;
    }
  }
}

#primary_nav_wrap ul li:hover > ul {
  display: block;
}

.start-btn {
  border: 1px solid $white-color;
  border-radius: 100px;
  text-transform: uppercase;
}

.start-btn > a {
  padding: 40px;
}

.main-txt {
  color: $white-color;
  position: relative;
  z-index: 2;
  text-align: center;
  h1 {
    font-size: 64px;
    margin: 0 0 20px 0;
  }
  p {
    margin: 0;

  }
  .table {
    display: inline-block; /*не обязательно*/
    text-transform: uppercase;
    margin-bottom: 20px;
    &::before {
      display: inline-block;
      content: '';
      width: 20px;
      height: 1px;
      background-color: $white-color;
      vertical-align: middle;
      margin-right: 10px;
    }
    &::after {
      display: inline-block;
      content: '';
      width: 20px;
      height: 1px;
      background-color: $white-color;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

.main-arrow {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-down {
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  width: 70px;
  background-color: $white-color;
  box-shadow: 0 0 18.69px 2.31px rgba(204, 204, 223, 0.5);
  &:hover {
    transform: scale(1.05);
    transition: .1s;
  }
}

// Second block

.plan-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: $white-color;
  position: relative;
  min-height: 100vh;
  padding: 45px;
  //background: url("../../assets/images/pricing_table/main-bg.jpg") no-repeat center;
  //background-size: cover;
}

.plan-select-txt {
  color: $darker-purple;
  .table {
    display: inline-block; /*не обязательно*/
    text-transform: uppercase;
    margin: 0 0 20px 0;
    &::before {
      display: inline-block;
      content: '';
      width: 20px;
      height: 1px;
      background-color: $darker-purple;
      vertical-align: middle;
      margin-right: 10px;
    }
    &::after {
      display: inline-block;
      content: '';
      width: 20px;
      height: 1px;
      background-color: $darker-purple;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

.plan-box {
  display: flex;
}

.plan-item {
  //> .start-btn {
  //  border: none;
  //}
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid #c5c5c5;
  max-width: 330px;
  height: 546px;
  border-radius: 5%;
  padding: 54px;
  margin: 0 20px;
  transition: box-shadow 0.3s, transform 0.3s;
  color: #aeaeae;
  text-align: center;
  line-height: 140%;

  &:hover {
    box-shadow: 0 0 154px -20px $black-color;
    transform: scale(1.02, 1.02);
  }
  :last-child {
    color: #9c9c9c;
  }
}

.big-letters {
  font-size: 30px;
}

.plan-btn {
  a {
    text-decoration: none;
    border: 1px solid #c5c5c5;
    padding: 15px 35px;
    border-radius: 100px;
    transition: 0.3s;
    font-size: 12px;
    font-weight: 700;
    &:hover {
      background: $purple-color;
      color: $white-color;
    }
  }
}

//Third block

.cta {

  background: url("../../assets/images/pricing_table/cta-bg.png") no-repeat center;
  background-size: cover;
  height: 80vh;
  padding: 0;
}

.cta-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(150deg, $purple-color 0%, $turquoise-color 100%);
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  padding: 45px 0;
  //background: url("../../assets/images/pricing_table/main-bg.jpg") no-repeat center;
  .plan-select-txt {
    color: $white-color;
    font-weight: 700;
    .table {
      &::before {
        background-color: $white-color;
      }
      &::after {
        background-color: $white-color;
      }
    }
  }
  .start-btn {
    border: none;
  }
}

.btn-box {
  .start-btn a {
    color: $white-color;
  }
  display: flex;
  justify-content: space-between;
  padding: 45px 200px;
}

//Footer

footer {
  padding: 30px 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18vh;
  #primary_nav_wrap ul {
    a {
      color: #333;
    }
    .start-btn {
      border: 1px solid #c5c5c5;
    }
    .start-btn:hover {
      background: $purple-color;
    }
  }
}

.social {
  display: flex;
  justify-content: space-between;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 84px;
  align-items: center;

}

@media (max-width: 1170px) {

  .header {
    flex-wrap: wrap;
    justify-content: center;
    .logo {
      //width: 100%;
    }
  }

  .plan-box {
    flex-wrap: wrap;
    justify-content: center;
    .plan-item {
      padding: 10px;
      margin: 5px;
      max-width: 300px;
      max-height: 70vh;
      &:hover {
        box-shadow: 0 0 54px -10px $black-color;
      }
    }
  }

  .plan-select {
    justify-content: space-around;
    padding: 20px;
  }
}

@media (max-width: 987px) {
  .plan-item {
    min-width: 40%;
    //min-height: 30%;
  }
}

@media (max-width: 783px) {

  #primary_nav_wrap {
    display: none;
  }

  .menu-on {
    display: block;
  }
}