$dark-beigeColor: #908373;
$light-beigeColor: #c7b299;
$mainColor: #555556;
$whiteColor: #fff;
$Raleway: 'Raleway', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Roboto: 'Roboto', sans-serif;

body {
  //background: $whiteColor;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: $Raleway;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

h1 {
  display: flex;
  justify-content: space-between;
  font-family: $Raleway;
  font-weight: 800;
  font-size: 2.5rem;
  margin: 0 0 0.5rem 0;
}

p {
  font-family: $Montserrat;
  font-size: .95rem;
  margin: 0 0 1.5rem 0;
  width: 50%;
  text-align: center;
}

.main_header {
  display: flex;
  flex-direction: column;
  //align-items: center; -interesting
  justify-content: space-between;
  background: url("../../assets/images/waxom/main-bg.jpg") rgba(45, 47, 52, 0.72);
  background-blend-mode: multiply;
  background-size: 100%;
  height: 97vh;
  padding: 2rem 22rem;
  .top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    .logo-txt {
      font-family: $Raleway;
      color: $whiteColor;
      font-size: 2rem;
      &::before {
        display: inline-block;
        vertical-align: middle;
        height: 4rem;
        width: 4rem;
        content: " ";
        background: url("../../assets/images/waxom/waxom-logo.png") no-repeat center;
      }
    }
    .menu-nav {
      display: flex;
      align-items: center;
      list-style: none;
      font-family: $Montserrat;
      font-size: 0.8rem;
      li {
        padding-right: 1.5rem;
        color: $whiteColor;
        text-transform: capitalize;
        cursor: pointer;
        &:last-child {
          padding: 0;
        }
        &:hover {
          color: $light-beigeColor;
        }
      }
    }
  }
  .main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $whiteColor;
  }
  .slides {
    display: flex;
    justify-content: center;
    align-items: center;
    .rounds {
      background: url("../../assets/images/waxom/slides.png") no-repeat;
      width: .7rem;
      height: .7rem;
      border-radius: 50%;
      margin: .2rem;
      transition: .2s;
      &:focus {
        background: none;
        box-shadow: inset 0 0 0 1.2px #7D6A5D;
      }
    }
  }
}

.start-btn {
  background: #998675;
  color: #eae6e2;
  padding: .8rem 1.8rem;
  border: none;
  border-radius: 5px;
  font-family: $Raleway;
  font-weight: 800;
  text-transform: uppercase;
  box-shadow: -1px 5px 11px -6px #7D6A5D;
}

.services {
  display: flex;
  padding: 4rem 22rem;
  .service-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    &::after {
      display: inline-block;
      content: '';
      width: 4rem;
      height: 2px;
      background-color: #f1eee9;
      vertical-align: middle;
      //margin-right: 10px;
    }
    p {
      width: 80%;
      margin-top: 0;
    }
  }
  :hover {
    color: #c7b299;
  }
  :hover img {
    filter: opacity(80%);
  }
}

.realisation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fbfaf8;
  height: 75vh;
  padding-top: 4rem;
  .realisation-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    max-width: 63%;
  }
}

.wordpress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 22rem;
  color: $whiteColor;
  font-family: $Raleway;
  background: linear-gradient(90deg, rgba(33, 27, 25, 1) 0%, rgba(78, 52, 39, 1) 100%);
  .waxon-daddy {
    color: $light-beigeColor;
  }
  p {
    color: #524844;
    margin: 0;
    width: 100%;
    text-align: left;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding: 4rem 22.3rem;
  padding: 4rem 22rem;
  h2 {
    text-transform: capitalize;
  }
  p {
    margin: 0 0 1.5rem 0;
  }
}

.button-box {
  border: none;
  margin-bottom: 2rem;
  button {
    background: $whiteColor;
    color: #747474;
    border: 1.4px solid #dddddd;
    border-radius: 5px;
    padding: .5rem 1.4em;
    text-transform: capitalize;
    font-family: $Montserrat;
    margin: 0 .2rem;
    transition: .1s;
    &:hover {
      background: #998675;
      color: $whiteColor;
    }
    &:focus {
      background: #998676;
      color: $whiteColor;
    }
  }
}

.img-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  //margin-bottom: 1rem;
  //img {
  //padding: 1rem 0;
  //max-width: 394px;
  //w30%
  //}
  //
  //
  //float: none;
  //.img-box img {
  //  width: 370px;
  //  height: 280px;
  //  padding: 1rem;
  //  margin: 0;
  //}
}

//.gadgets {
//  background: url("../../assets/images/waxom/gadgets.png") no-repeat bottom;
//  background-size: 100% 100%;
//}
.thumb {
  position: relative;
  background: plum;
  width: 300px;
  height: 200px;
  //float: left;
  overflow: hidden;
  //border: 1px solid red;
  margin: 1rem;
  .content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    //top: 0;
    //left: 0;
    //margin: 30px;
    //text-align: ;
  }
}

.wrapper {
  position: absolute;
  //left: 0;
  //bottom: 0;

  width: 300px;
  height: 200px;

  p {
    //background: plum;
    background-color: rgba(92, 75, 66, 0.7);
    width: 100%;
    position: absolute;
    margin: 0;
    bottom: 0;
    padding: 0;
    color: $whiteColor;
  }
}

//.wrapper {
//  .vandamme::after {
//    content: '';
//    position: absolute;
//    right: -30px;
//    top: 15px;
//    border: 10px solid transparent;
//    border-left: 20px solid red;
//  }
//}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../../assets/images/waxom/present-bg.jpg") rgba(45, 47, 52, 0.72) center no-repeat;
  background-blend-mode: multiply;
  background-size: 100%;
  height: 80vh;
  //max-height: 60vh;

  padding: 2rem 22rem;
  color: $whiteColor;
  .play-btn {
    background: url("../../assets/images/waxom/icon-play.png") rgba(45, 47, 52, 0.72) center no-repeat;
    padding: .6rem;
    margin: 2rem;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: .5s;
    &:hover {
      transform: scale(1.05);
    }

  }
  h2 {
    text-transform: capitalize;
    //opacity: 0.9;
    margin-bottom: 1.5rem;

  }
}

.device-profit {
  display: flex;
  //margin: 0 auto;
  height: 80vh;
  align-items: center;
  justify-content: center;
  color: $mainColor;
  .devices-info {
    width: 30%;
    h2 {
      text-transform: capitalize;
      //font-weight: 600 ;
    }
    p {
      width: initial;
      text-align: left;
      margin: 0;
    }
    .profit {
      display: inline-block;
      list-style: none;
      //list-style-image: url("../../assets/images/waxom/arrow.png");
      li {
        background: url("../../assets/images/waxom/arrow.png") no-repeat;
        height: 21px;
        //padding-left: 3rem;
        padding: 0 0 1rem 2rem;
      }
    }
  }
}
.device {
  display: flex;
  align-self: flex-end;
  max-height: 616px;
}

.counters {

  .counters-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

    h2 {
      font-size: 2.5rem;
    }
    p {
      padding-bottom: 1rem;
      text-align: center;
    }
    &::after {
      display: inline-block;
      content: '';
      width: 2rem;
      height: 3px;
      background-color: #f1eee9;
      vertical-align: middle;
      //margin-right: 10px;
      opacity: 0.7%;
    }
    img {
      width: 44px;
      height: 44px;
    }
  }

}